---
// Assets
import { Image } from "astro:assets";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
const { title, url, image, price } = {
  url: "/store/" + Astro.props.post.slug,
  title: Astro.props.post.data.title,
  image: Astro.props.post.data.image.url,
  price: Astro.props.post.data.price,
};
---

<div class="relative">
  <a class="absolute inset-0 z-10" href={url} title={title}></a>
  <div>
    <Image
      src={image}
      alt={title}
      width={2000}
      height={1000}
      class="w-full aspect-9/12 object-cover"
    />

    <div class="pt-4 mt-4 border-t border-base-200">
      <Text
        tag="h3"
        variant="textSM"
        class="font-medium text-base-900 duration-300"
      >
        {title}
      </Text>
      <Text tag="p" variant="textSM" class="text-base-500">${price}</Text>
    </div>
  </div>
</div>
