---
import { getCollection } from "astro:content";
const allPosts = await getCollection("helpcenter");
import BaseLayout from "@/layouts/BaseLayout.astro";
import CtaOne from "@/components/cta/CtaOne.astro";
import Entries from "@/components/helpcenter/Entries.astro";
---

<BaseLayout>
  <section>
    <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24">
      <div class="max-w-2xl">
        <span class="text-xs font-bold tracking-wide uppercase text-purple-500">
          Help Center</span
        >
        <p class="mt-8 text-4xl font-semibold tracking-tight text-purple-900">
          We are here to help you
        </p>

      </div>

      <div class="mt-12">
        <ol
          role="list"
          class="grid grid-cols-1 gap-6 mt-12 list-none sm:grid-cols-2 lg:mt-24 lg:grid-cols-3">
          {
            allPosts.slice().map((post) => (
              <Entries
                url={"/helpcenter/" + post.slug}
                page={post.data.page}
                description={post.data.description}
                alt={post.data.page}
                icon={post.data.icon.url}
              />
            ))
          }

        </ol>
      </div>
    </div>
  </section>

  <section class="bg-regent-500">
    <div
      class="items-center w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:py-36 text-center">
      <p class="text-4xl mt-4 lg:text-8xl font-medium text-balance">
        Help Center
      </p><p
        class="max-w-2xl mt-4 text-lg text-black/80 mx-auto font-medium text-balance">
        Discover the answers you're looking for or reach out to Snowpeak for
        assistance with any inquiries you may have. We're here to assist you in
        any way we can.
      </p>
      <div class="max-w-md mx-auto">
        <label
          for="search"
          class="sr-only"
          >Quick search</label
        >
        <div class="relative mt-12 flex items-center">
          <input
            type="text"
            name="search"
            id="search"
            placeholder="Search for anything"
            aria-label="Search for anything"
            class="block lg:px-6 px-6 py-4 bg-white placeholder-gray-400 border border-gray-300 duration-200 focus:outline-none focus:ring focus:ring-regent-100 focus:border-regent-300 w-full rounded-full"
          />
          <button
            type="submit"
            class="absolute inset-y-0 right-0 flex items-center justify-center px-4 focus:outline-none"
            aria-label="Search">
          </button>
          <div class="absolute inset-y-0 right-0 flex py-1.5 pr-6">
            <kbd
              class="inline-flex items-center rounded-md text-regent-400"
              tabindex="0"
              >⌘K</kbd
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div
      class="items-center w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:py-32">
      <div>
        <span class="uppercase tracking-wide font-medium text-regent-600">
          ⏤ topics
        </span>
        <p class="mt-16 text-2xl lg:text-4xl text-black text-balance">
          Comprehensive help center and knowledge base: your one-stop
          destination for assistance and solutions.
        </p>
      </div>
      <dl
        class="grid grid-cols-1 lg:mt-24 mt-12 gap-x-8 gap-y-12 lg:gap-y-24 lg:grid-cols-2 list-none"
        role="list">
        {
          allPosts.slice().map((post) => (
            <Entries
              url={"/helpcenter/" + post.slug}
              page={post.data.page}
              description={post.data.description}
              alt={post.data.page}
              icon={post.data.icon.url}
            />
          ))
        }
      </dl>
    </div>
  </section>
  <CtaOne />
</BaseLayout>
