---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
  <section id="features" aria-labelledby="screencasts-title" class="bg-white">
    <div
      class="items-center w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:py-32">
      <div class="relative items-center">
        <div class="w-full lg:inline-flex justify-between lg:items-center">
          <div class="max-w-xl">
            <span
              class="font-semibold text-accent-500 text-sm tracking-widest uppercase">
              Tags</span
            >
            <p class="text-4xl mt-8 font-extrabold tracking-tight text-black">
              All tags
            </p>
          </div>
          <div class="mt-12 flex flex-col sm:flex-row lg:ml-auto">
            <a
              class="items-center text-white focus:outline-none inline-flex justify-center hover:text-accent-500 duration-200 focus-visible:outline-black focus-visible:ring-black font-medium lg:w-auto px-6 py-3 rounded-xl text-center w-full bg-accent-500 hover:bg-accent-100"
              href="/blog">See all posts &nbsp;&nbsp; →</a
            >
          </div>
        </div>
      </div>
      <div class="mt-12">
        <div class="mt-12 space-y-12 divide-y-2 divide-slate-100">
          {
            tags.map((tag) => (
              <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-4 items-end">
                <div class="lg:col-span-2">
                  <span class="text-black font-medium lg:text-xl text-lg">
                    {tag}
                  </span>
                </div>
                <div class="flex flex-col flex-shrink-0 mb-6 md:mb-0 lg:ml-auto col-span-2">
                  <a
                    href={`/tags/${tag}`}
                    class="flex items-center justify-center w-12 h-12 text-accent-500 rounded-full bg-slate-50 hover:bg-slate-100 border">
                    <svg
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      class="w-4 h-4"
                      viewBox="0 0 24 24">
                      <path d="M5 12h14M12 5l7 7-7 7" />
                    </svg>
                  </a>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="px-8 mx-auto max-w-7xl lg:px-24">
      <ol role="list" class="mt-16 space-y-10 sm:space-y-16">
        <li>
          <ol
            role="list"
            class="mt-8 divide-y divide-slate-300/30 rounded-2xl bg-slate-50 py-3 px-6 text-base tracking-tight sm:py-7 sm:px-8">
            {
              tags.map((tag) => (
                <li
                  class="flex justify-between py-3"
                  aria-label="Strokes and fills on page 21">
                  <span class="font-medium text-slate-900">
                    <a href={`/tags/${tag}`}>{tag}</a>
                  </span>
                </li>
              ))
            }
          </ol>
        </li>
      </ol>
    </div>
  </section>
</BaseLayout>
