---
// Assets
import { Image } from "astro:assets";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
// Content
const { title, url, thumbnail, category } = {
  url: "/galleria/immagini/" + Astro.props.post.slug,
  title: Astro.props.post.data.title,
  category: Astro.props.post.data.category,
  thumbnail: Astro.props.post.data.thumbnail.url,
};
---

<article class="relative">
  <a
    href={url}
    title={title}
    title={`Read more: ${title}`}
    aria-label={`See more of: ${title}`}
    class="absolute inset-0 z-10"
  >
  </a>

  <Text tag="h3" variant="textBase" class="font-medium text-base-900"
    >{title}</Text
  >
  <Text tag="p" variant="textSM" class="text-base-500">{category}</Text>
  <Image
    src={thumbnail}
    alt={title}
    width={1000}
    height={1000}
    class="object-cover object-center w-full pt-4 mt-4 border-t aspect-6/12 border-base-200"
  />
</article>
