---
// Define your content data here
const contentData = [
  {
    category: "Tokens",
    title: "A sustainable approach to blockchain validation",
    description:
      "Control and added security. With decentralization, users have more control over their data and transactions, and the platform is less susceptible to malicious attacks.",
    imageSrc: "/assets/phonebox1.png",
    buttons: [
      {
        text: "See all pages",
        href: "/",
        class:
          "bg-gradient-to-b from-purple-500 to-purple-600 hover:to-purple-700",
        ariaLabel: "See all pages",
      },
      {
        text: "Get Semplice →",
        href: "https://lexingtonthemes.lemonsqueezy.com/checkout/buy/59105270-55f2-42b0-9728-3094f40f86f4",
        class: "bg-white text-purple-600 hover:text-purple-500 border-gray-300",
        ariaLabel: "Get Semplice",
      },
    ],
  },
  {
    category: "Data",
    title: "Empowering users with data control",
    description:
      "Control and added security. With decentralization, users have more control over their data and transactions, and the platform is less susceptible to malicious attacks.",
    imageSrc: "/assets/phonebox2.png",
    buttons: [
      {
        text: "See all pages",
        href: "/",
        class:
          "bg-gradient-to-b from-purple-500 to-purple-600 hover:to-purple-700",
        ariaLabel: "See all pages",
      },
      {
        text: "Get Semplice →",
        href: "https://lexingtonthemes.lemonsqueezy.com/checkout/buy/59105270-55f2-42b0-9728-3094f40f86f4",
        class: "bg-white text-purple-600 hover:text-purple-500 border-gray-300",
        ariaLabel: "Get Semplice",
      },
    ],
  },
];
---

<section>
  <div
    class="px-8 py-12 mx-auto space-y-24 md:px-12 lg:px-32 max-w-7xl lg:py-24">
    {
      contentData.map((item, index) => (
        <div
          class={`grid items-center grid-cols-1 gap-4 mt-6 list-none lg:grid-cols-2 lg:gap-24 ${index % 2 !== 0 ? "lg:flex-row-reverse" : ""}`}>
          <div>
            <span class="text-xs font-bold tracking-wide uppercase text-purple-500">
              {item.category}
            </span>
            <p class="mt-8 text-4xl font-semibold tracking-tight text-purple-900">
              {item.title} <span class="lg:block lg:text-gray-500" />
            </p>
            <p class="mt-4 text-base text-gray-500">{item.description}</p>
            <div class="flex flex-col items-center gap-3 mt-10 md:flex-row">
              <a
                class={`flex items-center justify-center w-full lg:w-auto h-10 px-4 py-2 text-sm font-semibold text-white transition-all rounded-lg ${item.buttons[0].class}`}
                href="{item.buttons[0].href}"
                title="{item.buttons[0].text}"
                aria-label="{item.buttons[0].ariaLabel}">
                {item.buttons[0].text}
              </a>
              <a
                class={`flex items-center justify-center w-full lg:w-auto h-10 px-4 py-2 text-sm font-semibold transition-all ${item.buttons[1].class} border rounded-lg`}
                href="{item.buttons[1].href}"
                title="{item.buttons[1].text}"
                aria-label="{item.buttons[1].ariaLabel}">
                {item.buttons[1].text}
              </a>
            </div>
          </div>
          <div
            class={`h-full lg:mt-0 mt-12 p-4 pb-0 rounded-3xl bg-white shadow-sm overflow-hidden ${index % 2 === 0 ? "md:order-first" : ""}`}>
            <img
              alt="Thumbnail"
              class="relative w-full rounded-2xl drop-shadow-2xl"
              src={item.imageSrc}
            />
          </div>
        </div>
      ))
    }
  </div>

</section>
