---
const { post } = Astro.props;

const url = "/blog/" + post.slug;
const title = post.data.title;
const description = post.data.description;
const alt = post.data.title;
const pubDate = post.data.pubDate.toString().slice(0, 10);
const author = post.data.author;
const image = post.data.image.url;
---

<li class="group">
  <a href={url} title={title} class="h-full">
    <div class="flex justify-center">
      <div class="flex">
        <img
          class="aspect-[4/3] duration-300 group-hover:scale-110 object-cover rounded-2xl shadow-2xl"
          loading="lazy"
          src={image}
          alt={alt}
        />
      </div>
    </div>
    <div class="px-2 lg:px-6 flex flex-col items-start">
      <div>
        <p class="mt-8">
          <time class="text-slate-500 text-xs" datetime={pubDate}
            >{pubDate}</time
          >
        </p>
        <p class="mt-3 text-black font-medium lg:text-xl text-lg">
          {title}
        </p>
        <p
          class="text-slate-500 group-hover:text-black mt-2 line-clamp-2 text-base"
        >
          {description}
        </p>
      </div>
      <footer class="mt-6">
        <p class="font-medium text-gray-900 text-xs">By {author}</p>
      </footer>
    </div>
  </a>
</li>
